* { padding: 0; margin: 0; }
body { font-family: Tahoma;}

.main-container {
    display: flex;
    height: 1000px;
    width: 1000px;
    border: 1px solid black;
}

.aside {
    padding-left: 100px;
    background: #0d366e;
    width: 350px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  color: white;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}

.photo {
  width: 250px;
  height: 300px;
  background: #ccc;
  margin: 50px 0;
  background-image: url(./images/avatar.jpg);
  background-size: contain;
}

.contact-info {
  margin: 0 0 50px 0;
}

.contact-info > div {
  background-size: 20px;
  padding-left: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.contact-info__phone {
  background-image: url(./images/phone.svg);
}

.contact-info__email {
  background-image: url(./images/email.svg);
}

.contact-info__skype {
  background-image: url(./images/skype.svg);
}