* { padding: 0; margin: 0; }

h1,h2,h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

body { font-family: Tahoma;}

.main-container {
    display: flex;
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
}

.aside {
  padding: 50px;
  background: #0d366e;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  overflow: auto;
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}

.photo {
  width: 250px;
  min-height: 300px;
  background: #ccc;
  margin-bottom: 50px;
  background-image: url(./images/avatar.jpg);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.contact-info {
  margin: 0 0 50px 0;
}

.contact-info > div {
  background-size: 20px;
  padding-left: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.contact-info__phone {
  background-image: url(./images/phone.svg);
}

.contact-info__email {
  background-image: url(./images/email.svg);
}

.contact-info__skype {
  background-image: url(./images/skype.svg);
}

.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.example {
  border: 1px solid black;
  min-width: 30%;
  max-width: 30%;
  min-height: 200px;
  margin-top: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}